.links {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  h1 {
    margin-left: 2rem;
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    color: #c0e218;
    margin-left: 2rem;
  }
}
